// Body, Typography, Resets

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
  background-size: 50px 50px;
  background-image: linear-gradient(
      to right,
      var(--color-bg-dash) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--color-bg-dash) 1px, transparent 1px);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-tertiary);
  transition: color 0.3s ease;
  &:hover {
    color: var(--color-primary);
  }
}

section {
  margin: 50px 0;
  @media (max-width: 768px) {
    margin-bottom: 0;
  }
}
