// Buttons, cards, forms, etc...

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;

  // Tablet
  @media (max-width: 1024px) {
    max-width: 960px;
  }

  // Big phone
  @media (max-width: 768px) {
    max-width: 720px;
  }

  // Small phone
  @media (max-width: 480px) {
    max-width: 100%;
  }
}

.btn {
  font-family: inherit;
  cursor: pointer;
  color: var(--color-primary);
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn-menu {
  @extend .btn;
  @extend .glass;

  display: none;
  aspect-ratio: 1 / 1;
  z-index: 1;
  font-size: 1.5rem;
  padding: 0.75rem;

  @media (max-width: 768px) {
    display: inline-flex;
  }
}

.btn-primary {
  @extend .btn;
  gap: 0.25rem;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  background-color: var(--color-primary);
  color: var(--color-bg-dash);
  font-size: 1rem;
  transition: gap 0.3s ease;

  & > i {
    color: var(--color-bg-dash);
  }

  &:hover {
    gap: 0.75rem;
  }
}

.btn-theme {
  padding: 1rem 3rem !important;
  font-size: 1.125rem;
  position: absolute;
  top: 0;
  right: 8px;
  transform: rotate(90deg);
}

/* Base Glass Style */
.glass {
  background: var(--color-bg-glass);
  border: var(--border-glass);
  box-shadow: var(--box-shadow-glass);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
}

/* Layout glass blocks */
.glass-bg {
  @extend .glass;
  padding: 1.5rem 2.5rem;
  position: relative;
  overflow: hidden;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   height: 1px;
  //   background: linear-gradient(
  //     90deg,
  //     transparent,
  //     rgba(255, 255, 255, 0.8),
  //     transparent
  //   );
  // }

  @media (max-width: 768px) {
    padding: 1rem;
  }
}

.glass-bg-text {
  @extend .glass;
  padding: 0.625rem 1.25rem;
  color: var(--color-tertiary);
  transition: color 0.3s ease;

  &:hover {
    color: var(--color-primary);
  }
}

.text-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  line-height: 140%;
  font-weight: 600;
}

.text-label {
  font-size: 1rem;
  font-weight: 200;
  text-transform: uppercase;
  color: var(--color-tertiary);
}
