// Root variables

:root {
  --color-bg: #201f1f;
  --color-bg-dash: #2d2d2d;
  --color-text: #6cace4;
  --color-primary: #ffffff;
  --color-secondary: #f0f0f0;
  --color-tertiary: #c4c4c4;
}

.light-theme {
  --color-bg: #ffffff;
  --color-bg-dash: #f0f0f0;
  --color-text: #004e93;
  --color-primary: #1a1a1a;
  --color-secondary: var(--color-primary);
  --color-tertiary: var(--color-primary);
}

