@use "./variables";
@use "./base";
@use "./components";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.header {
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
  &__logo {
    font-weight: 200;
    font-size: 1.5rem;
  }
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &__link {
    font-size: 1.125rem;

    &.glass-bg-text {
      color: var(--color-primary);
    }
  }

  @media (max-width: 768px) {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding: 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: none;

    // Animation State Off
    opacity: 0;
    transform: translateY(-100%);
    pointer-events: none;
    visibility: hidden;
    transition: opacity 3s ease, transform 0.5s ease, visibility 3s ease;

    &__list {
      flex-direction: column;
      width: 100%;
      padding: 6rem 0 1rem 0;
      gap: 3rem;
      align-items: flex-end;
    }

    &__link {
      font-size: 1.5rem;
    }

    &.active {
      // Animation State On
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
      visibility: visible;
      z-index: 1;
    }
  }
}

.main {
  .hero {
    position: relative;
    &__wrapper {
      text-align: center;
      height: calc(75vh - 100px);
      display: flex;
      gap: 0.75rem;
      flex-direction: column;
      justify-content: center;
    }
    &__name {
      font-weight: 300;
      font-size: 1.5rem;
    }
    &__subtitle {
      font-weight: 300;
      font-size: 1.5rem;
      line-height: 200%;
    }
  }

  .work {
    &__cards {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
    &__card {
      display: flex;
      gap: 1rem;
      height: 100%;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.02);
      }

      &__content {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 1rem;

        .btn {
          width: 50%;
        }
      }

      &__title {
        font-size: clamp(2rem, 5vw, 2.5rem);

        font-weight: 500;
      }
      &__description {
        font-size: clamp(1rem, 5vw, 1.125rem);
        font-weight: 300;
        line-height: 140%;
        color: var(--color-tertiary);
      }
      &__type {
        font-size: clamp(1.125rem, 5vw, 1.25rem);
        font-weight: 300;
        text-transform: uppercase;
      }
      &__source {
        width: 60%;
      }
      &__image {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
      }
    }

    @media (max-width: 768px) {
      &__card {
        flex-direction: column-reverse;
        gap: 2rem;
        &__content {
          width: 100%;

          .btn {
            width: 100%;
          }
        }
        &__source {
          width: 100%;
        }
      }
    }
  }
}

.footer {
  &__wrapper {
    padding: 3.125rem 1rem;
  }
  &__contact {
    margin-bottom: 50px;

    &-link {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;
      transition: gap 0.3s ease;

      &:hover {
        gap: 0.75rem;
      }
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__social {
    &-list {
      display: flex;
      margin-bottom: 10px;
      gap: 2rem;
    }
    &-link {
      font-size: 1.25rem;
      color: var(--color-primary);
    }
  }
  &__edition {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }

  @media (max-width: 480px) {
    &__contact {
      text-align: center;
    }
    &__bottom {
      flex-direction: column-reverse;
      text-align: center;
      gap: 2rem;
    }
  }
}

// CONTACT PAGE

.contact {
  .form {
    display: flex;
    flex-direction: column;
    &__row {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    &__input {
      font-size: 1.25rem;

      &-error {
        color: rgb(255, 47, 47);
        font-weight: 500;
        margin-bottom: 1rem;
      }
    }
    &__textarea {
      height: 350px;
      resize: none;
      font-size: 1.25rem;
    }
    .btn-submit {
      width: 35%;
      margin: 0 auto;
      font-size: 1.125rem;
    }
  }
}

// ABOUT PAGE

.about {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  &__title {
    width: 40%;

    font-size: clamp(1.5rem, 5vw, 2.5rem);
  }
  &__description {
    width: 40%;
    line-height: 150%;
    color: var(--color-tertiary);
    font-size: clamp(1rem, 5vw, 1.125rem);
  }
  &__source {
    background-color: var(--color-bg-glass);
    border: var(--border-glass);
    box-shadow: var(--box-shadow-glass);
    border-radius: 15px;
  }
  &__image {
    height: 450px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.5;
    transition: opacity 0.3s ease, transform 0.3s ease;
    &:hover {
      opacity: 1;
      transform: scale(1.05);
    }
  }

  @media (max-width: 1024px) {
    &__title,
    &__description {
      width: 50%;
    }
  }

  @media (max-width: 768px) {
    &__header {
      flex-direction: column;
    }
    &__title,
    &__description {
      width: 100%;
    }
  }
}

.stack {
  &__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 1rem;
  }
  &__item {
    width: 4rem;
    height: 4rem;
    // cursor: pointer;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 5px;
    }
  }
}

.education {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    height: 450px;
    gap: 1rem;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
  }
  &__image {
    width: 350px;
    border-radius: 15px;
  }
  &__title {
    font-size: 1.25rem;
    margin-bottom: 5px;
    font-weight: 500;
  }
  &__description {
    margin-bottom: 10px;
  }
  &__date {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-tertiary);
    padding-bottom: 20px;
  }

  &__card:last-child .education__date {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  @media (max-width: 768px) {
    &__wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 100%;
      gap: 1rem;
    }
    &__image {
      margin: 0 auto;
      // width: 100%;
    }
  }
  @media (max-width: 480px) {
    &__image {
      width: 100%;
    }
  }
}

.socials {
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  &__link {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
  }

  @media (max-width: 768px) {
    &__list {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
